<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Twitter Lite" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="grid grid-cols-[2fr_2fr_1fr] gap-2">
        <div class="bg-gray-100 p-4"></div>
        <div class="bg-gray-200 p-6">Column 2</div>
        <div class=" p-4">
          <div class="grid grid-cols-[1fr_2fr] gap-2">
            <div class=" p-4">
              <button class="bg-blue-700 hover:bg-blue-400 text-white font-bold py-1 px-4 rounded">
                Tweet
              </button>
            </div>
            <div class=" p-4">
              <p>Welcome, <%= current_user.email %>!</p>    
              <%= link_to 'Edit Profile', edit_user_registration_path %> |
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </div>
          </div>
          
        </div>
      </div>

      
      
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
